.col_20, .col_21, .col_22{
	background:#F90110;
}
.col_23, .col_24, .col_25{
	background:#F90110;
}
.col_26, .col_27, .col_28{
	background:#F90110;
}
.col_29, .col_30, .col_31{
	background:#F90110;
}
.col_32, .col_33, .col_34{
	background:#F90110;
}
.col_35, .col_36, .col_37{
	background:#F90110;
}
.col_38, .col_39, .col_40{
	background:#F90110;
}
.col_40, .col_41, .col_42{
	background:#F90110;
}
.col_43{
	background:#F90110;
}
.col_30 {
	background:#DD1D0E;
}
.col_40{
	background:#C1390C;
}
.col_50{
	background:#A6550A;
}
.col_60{
	background:#6E8E07;
}
.col_70{
	background:#53AA05;
}
.col_80{
	background:#37C603;
}
.col_90{
	background:#1BE201;
}
.col_100{
	background:#00ff00;
};
}